:root {
  --primary-light: #cec25a;
  --primary: #ca9025;
  --primary-dark: #eba50e;
  --greyDark: #cfc19b;
  background-color: var(--primary-dark);
}

#root {
  max-width: 1280px;
  font-family: "coolvetica";
  margin: 0 auto;
  height: 80vh;
}
.Beer-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  margin-bottom: 100px;
}
.App {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Beers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
